@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
.todo_button {
    background-color:#54aed1;
    margin-left:5px;
    width:150px;
}
.todo_items {
    font-size: 1.8em;
}
.todo_items > span {
    font-family: 'Antic Slab', serif;
}

@media only screen and (max-width:700px) {
    .todo_button {
        width: 100px;
        margin-right: 25px;
    }
    .todo_items{
        font-size: 1.2em;
    }
}
